<header>
  <app-header></app-header>
</header>
<main>
  <ng-container>
    <div
      class="wrapper"
      *ngFor="let data of jupiterData?.slice(0, 5); let index = index"
    >
      <div *ngIf="data.highTimeline" class="container">
        <h2 class="heading" *ngIf="data.headerUrl.length === 0">
          {{ data.header }}
        </h2>

        <h2 *ngIf="data.headerUrl.length > 0">
          <a href="" class="heading-container">
            <span class="heading">{{ data.header }}</span>
            <span class="heading-link">
              <mat-icon aria-hidden="true" fontIcon="chevron_right"></mat-icon>
              <span>Vaata kõiki</span>
            </span>
          </a>
        </h2>

        <app-slider [index]="index" [data]="data.data"></app-slider>
      </div>
    </div>
  </ng-container>
</main>
<footer></footer>

<router-outlet></router-outlet>
