<div class="swiper" id="swiper-{{ index }}" #swiper>
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let item of data?.slice(0, 15)">
      <img
        src="{{ item.verticalPhotos[0].photoUrlBase }}"
        alt="{{ item.heading }}"
        loading="lazy"
      />
    </div>
  </div>

  <div
    class="button-next-container"
    [class.swiper-button-disabled]="isEnd"
    (click)="onNextClick()"
  >
    <div class="swiper-button-next"></div>
  </div>

  <div
    class="button-prev-container"
    [class.swiper-button-disabled]="isBeginning"
    (click)="onPrevClick()"
  >
    <div class="swiper-button-prev"></div>
  </div>
</div>
