.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff0d;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.swiper-slide:hover::after {
  opacity: 1;
}

.swiper-button-next {
  background-image: url(/assets/audio_arrow_right.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(/assets/audio_arrow_left.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-disabled {
  display: none;
}

.button-next-container,
.button-prev-container {
  cursor: pointer;
  background-color: rgba(32, 52, 67, 0.4);
  height: 100%;
  position: absolute;
  width: 60px;
  top: 0;
  z-index: 10;
}

.button-next-container:hover,
.button-prev-container:hover {
  background-color: rgba(32, 52, 67, 0.615);
}

.button-prev-container {
  left: 0;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}

.button-next-container {
  right: 0;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}
