/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}
:root {
  background-color: #29475f;
  color: #fff;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}
